!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lastfm
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div{id: 'main-container', class: 'container'}
      %div{class: 'row'}
        %div{class: 'col-xs-2 pull-left'}
          = link_to scrobbles_url do
            %h3 toolbar placeholder
        %div{class: 'col-xs-10'}
          = yield
